# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
workflows:
  version: 2
  merge-to-master:
    jobs:
      - tester
      - update_tag:
          requires:
            - tester
          filters:
            branches:
              only: /master/
jobs:
  update_tag:
    docker:
      - image: circleci/golang:1.13.1
    working_directory: /go/src/github.com/go-chef/chefi
    steps:
      - add_ssh_keys:
          fingerprints:
            - ${TAG_TOKEN}
      - checkout
      - run: curl -s https://api.github.com/repos/pantheon-systems/autotag/releases/latest | grep browser_download | grep Linux | cut -d '"' -f 4 | xargs curl -o ./autotag -L && chmod 755 ./autotag
      - run: ./autotag
      - run: git push --tags origin
  tester:
    docker:
      - image: circleci/golang:1.9
      #### TEMPLATE_NOTE: go expects specific checkout path representing url
      #### expecting it in the form of
      ####   /go/src/github.com/circleci/go-tool
      ####   /go/src/bitbucket.org/circleci/go-tool
    working_directory: /go/src/github.com/go-chef/chef
    steps:
      - add_ssh_keys:
          fingerprints:
            - 35:v45:41:ba:cf:3f:7f:d5:00:0f:11:6b:4d:c0:a1:90
      - checkout
      # specify any bash command here prefixed with `run: `
      - run: env
      - run: ls && pwd
      - run: go get -v  ./...
      - run: go get github.com/ctdk/goiardi/chefcrypto
      - run: go get github.com/smartystreets/goconvey/convey 
      - run: go get github.com/stretchr/testify/assert
      - run: gofmt -l -d *.go && test -z $(go fmt ./....)
      - run: go vet ./...
      - run: go test ./...
